In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_feather('../data/03_model_input/empleados_metacortex_clean.ftr')
df.head()

  IdAsegurado     FNacim      FAlta Sexo  Activo     CP  Capital
0   88862218Q 1990-01-15 2020-01-15    F    True  28013   5000.0
1   17905733A 1985-12-03 2019-12-03    M    True  41001   6500.0
3   52745245N 1992-07-22 2021-07-22    F   False  48004   3000.0
4   82167366G 1988-04-10 2018-04-10    M    True  48001   5000.0
5    1248870G 1981-03-11 2018-04-10    M    True  48007   6000.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 0 to 8
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IdAsegurado  7 non-null      object
 1   FNacim       7 non-null      datetime64[ns]
 2   FAlta        7 non-null      datetime64[ns]
 3   Sexo         7 non-null      object
 4   Activo       7 non-null      bool
 5   CP           7 non-null      int64
 6   Capital      7 non-null      float64
dtypes: bool(1), datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 399.0+ bytes

In [7]:
def edad1(x):
    return 0


def edad2(x):
    return 0

In [9]:
df['edad1'] = df['FNacim'].apply(edad1)
df['edad2'] = df['FNacim'].apply(edad2)
df.head()

  IdAsegurado     FNacim      FAlta Sexo  Activo     CP  Capital  edad1  edad2
0   88862218Q 1990-01-15 2020-01-15    F    True  28013   5000.0      0      0
1   17905733A 1985-12-03 2019-12-03    M    True  41001   6500.0      0      0
3   52745245N 1992-07-22 2021-07-22    F   False  48004   3000.0      0      0
4   82167366G 1988-04-10 2018-04-10    M    True  48001   5000.0      0      0
5    1248870G 1981-03-11 2018-04-10    M    True  48007   6000.0      0      0